@model InmobiliariaApp.Models.Contrato

@{
    ViewData["Title"] = "Detalles del Contrato";
}

<h1>Detalles</h1>

<dl class="row">
    <dt class="col-sm-2">Inmueble</dt>
    <dd class="col-sm-10">@Model.Inmueble?.Direccion</dd>

    <dt class="col-sm-2">Inquilino</dt>
    <dd class="col-sm-10">@Model.Inquilino?.NombreCompleto</dd>

    <dt class="col-sm-2">Fecha Inicio</dt>
    <dd class="col-sm-10">@Model.FechaInicio.ToShortDateString()</dd>

    <dt class="col-sm-2">Fecha Fin</dt>
    <dd class="col-sm-10">@Model.FechaFin.ToShortDateString()</dd>

    <dt class="col-sm-2">Monto Mensual</dt>
    <dd class="col-sm-10">@Model.MontoMensual.ToString("C")</dd>
</dl>

<a asp-action="Edit" asp-route-id="@Model.IdContrato" class="btn btn-warning">✏ Editar</a>
<a asp-action="Index" class="btn btn-secondary">⬅ Volver</a>
<div class="mt-3">
    <a asp-controller="Pagos"
       asp-action="Create"
       asp-route-idContrato="@Model.IdContrato"
       class="btn btn-success">
        ➕ Agregar pago a este contrato
    </a>

    <a asp-controller="Pagos"
        asp-action="PorContrato" 
        asp-route-idContrato="@Model.IdContrato" 
        class="btn btn-success">
        💰 Ver pagos
   </a>

</div>
