@model InmobiliariaApp.Models.Inmueble

@{
    ViewData["Title"] = "Detalles del Inmueble";
}

<h1>Detalles</h1>

<dl class="row">
    <dt class="col-sm-2">Dirección</dt>
    <dd class="col-sm-10">@Model.Direccion</dd>

    <dt class="col-sm-2">Uso</dt>
    <dd class="col-sm-10">@Model.Uso</dd>

    <dt class="col-sm-2">Tipo</dt>
    <dd class="col-sm-10">@Model.Tipo</dd>

    <dt class="col-sm-2">Ambientes</dt>
    <dd class="col-sm-10">@Model.Ambientes</dd>

    <dt class="col-sm-2">Precio</dt>
    <dd class="col-sm-10">@Model.Precio.ToString("C")</dd>

    <dt class="col-sm-2">Propietario</dt>
    <dd class="col-sm-10">@Model.Propietario?.Apellido @Model.Propietario?.Nombre</dd>
</dl>

<a asp-action="Edit" asp-route-id="@Model.IdInmueble" class="btn btn-warning">✏ Editar</a>
<a asp-action="Index" class="btn btn-secondary">⬅ Volver</a>
