@model IEnumerable<InmobiliariaApp.Models.Pago>

@{
    ViewData["Title"] = "Listado de Pagos";
}

<h1>Pagos</h1>

<p>
    <a asp-action="Create" class="btn btn-success">➕ Nuevo Pago</a>
</p>

<table class="table table-striped table-bordered">
    <thead class="table-dark">
        <tr>
            <th>Contrato</th>
            <th>Fecha</th>
            <th>Importe</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                Contrato #@item.IdContrato <br />
                Inmueble: @item.Contrato?.Inmueble?.Direccion <br />
                Inquilino: @item.Contrato?.Inquilino?.NombreCompleto
            </td>

            <td>@item.Fecha.ToShortDateString()</td>
            <td>@item.Importe.ToString("C")</td>
            <td>
                <a asp-action="Details" asp-route-id="@item.IdPago" class="btn btn-info btn-sm">ℹ Detalles</a>
                <a asp-action="Edit" asp-route-id="@item.IdPago" class="btn btn-warning btn-sm">✏ Editar</a>
                <a asp-action="Delete" asp-route-id="@item.IdPago" class="btn btn-danger btn-sm">🗑 Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
