@model InmobiliariaApp.Models.Propietario

@{
    ViewData["Title"] = "Eliminar Propietario";
}

<h1>Eliminar Propietario</h1>

<h3>¿Seguro que querés eliminar este registro?</h3>
<div>
    <h4>Propietario</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">DNI</dt>
        <dd class="col-sm-10">@Model.Dni</dd>

        <dt class="col-sm-2">Apellido</dt>
        <dd class="col-sm-10">@Model.Apellido</dd>

        <dt class="col-sm-2">Nombre</dt>
        <dd class="col-sm-10">@Model.Nombre</dd>

        <dt class="col-sm-2">Teléfono</dt>
        <dd class="col-sm-10">@Model.Telefono</dd>

        <dt class="col-sm-2">Email</dt>
        <dd class="col-sm-10">@Model.Email</dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="IdPropietario" />
        <button type="submit" class="btn btn-danger">🗑 Eliminar</button>
        <a asp-action="Index" class="btn btn-secondary">⬅ Cancelar</a>
    </form>
</div>
